.toolbar{
	background-color: #5c8ba7;
	height:60px;
	padding-left: 10px;
}

.title{
	color: white;
	font-family:Arial, Helvetica, sans-serif;
}
.subtitle{
	color: white;
	font-family:Arial, Helvetica, sans-serif;
}