<div class="toolbar">
<img style="width:35px; height:35px; position: absolute; top:20px;" src="assets/images/takaraSmall.png"><span><label class="title" style="  position: absolute; left:70px; top:20px;">{{dataService.title}}</label></span><label style="  position: absolute; left:250px; top:20px;"class="subtitle">{{dataService.subTitle}}</label>
 <span class="spacer"></span>

     <div class="button-row" style="display: flex;
  align-items: center;
  justify-content: space-around;"> 
    <!-- <button md-button  (click)="setEnglish()">EN</button>
   <button md-button  (click)="setJapanese()">JP</button>-->
  </div>
  
 
</div>